*{
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
}
.main{
    width: 100%;
    background-position: center;
    height: 120vh;
    background-size: cover;
    background: url(https://www.wallpaperbetter.com/wallpaper/833/400/921/blue-tree-moon-night-reflection-hd-1080P-wallpaper.jpg) ;
}

.navbar{
    width: 1300px;
    height: 75px;
    margin: auto;
    /* background: black; */
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: orange;
    font-size: 35px;
    font-family: Arial;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
}

ul li{
list-style: none;
margin-left: 60px;
margin-top: 25px;
font-size: 16px;

}

ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s;
}
ul li a:hover {
    color: orange;
    
}

.search{
    float: left;
    margin-left: 370px;
width: 330px;  
}

.srch{
    font-family: 'Times New Roman';
    height: 40px;
    background: transparent;
    width: 200px;
    margin-top: 13px;
    border-right: none;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ff7200;
    color: white;
    float: left;
    border-top-left-radius: 5px ;
    border-top-left-radius: 5px ;
}

.btn{
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: white;
    background: #ff7200;
    font-size: 15px;
    border: 2px solid #ff7200;
    margin-top: 13px;   
    border-bottom-right-radius:5px ;
}

.btn:focus{
    outline: none;
}

.srch :focus{
    outline: none;
}

.marquee{
    margin-top: 10px;
    font-size: 14px;
    color: white;

}

.content{
    text-align: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 900;

    font-family: Arial;
    color: white;
}

#footer_logo{
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -mon-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mon-text-fill-color: transparent;
}

.footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer_link_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;

}

.footer_link_items h2 {
margin-bottom: 16px;
color: white;
}

.footer_link_items a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer_link_items a:hover {
    color: white;
    transition: 0.3 ease-out;
}

.social_icon_link{
    color: black;
    font-size: 24px;
}

footer{
    background-color:orange ;
    height: 100%;
}
.social_media{
    max-width: 1000px;
    width: 100%;
  
}

.social_media_wrap{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 40px auto 0 auto;
    align-items: center;
max-width: 1000px;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    width: 240px;
    align-items: center;
}